.hero.has-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
    background-image: url("https://source.unsplash.com/ap3LXI0fPJY/1920x1080")
}