.hero.has-background{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
.hero.has-background.bg-rain{
    background-image: url("https://source.unsplash.com/1920x1800/?rain")
}